.alert{
  display:inline-block
}
.max-width-50{
  max-width:50rem !important;
}
.pointer{
  cursor:pointer;
}
.max-vh{
  height:100vh;
}
.absolutely-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

